@charset "utf-8";

html {
  font-size: 100%;
}

body {
  font-family: serif;
}

/* header */
#top-head {
  width: 100%;
  z-index: 999;
  position: relative
}

#top-head .inner {
  position: relative;
}

#top-head .logo {
  padding-left: 50px;
}

#top-head .logo img {
  width: 200px;
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 10px;
}

.inner:after {
  content: "";
  clear: both;
  display: block;
}

#global-nav > ul {
  list-style: none;
  position: absolute;
  right: 30px;
  top: 15px;
}

#global-nav > ul > li {
  float: left;
  padding: 0 20px;
  position: relative;
}

#global-nav > ul > li > a {

}

#global-nav > ul > li > a > span {
  color: #ea6f00;
  font-size: 1.0rem;
  font-weight: bold;
  padding: 3px 10px;
  position: relative;
  overflow: hidden;
  display: block;
  transition: .3s;
  -webkit-transition: .3s;
}

#global-nav > ul > li > a > span:hover {
  color: #fff;
}

#global-nav > ul > li > a > span::after {
  position: absolute;
  transition: .3s;
  -webkit-transition: .3s;
  content: '';
  width: 0;
  bottom: 0;
  background: #ea6f00;
  height: 120%;
  left: -10%;
  transform: skewX(15deg);
  z-index: -1;
}

#global-nav > ul > li > a > span:hover::after {
  left: -10%;
  width: 120%;
}

#global-nav > ul > li > ul {
  position: absolute;
  content: '';
  top: 155%;
  left: 0;
  margin: 0;
	padding: 0;
}

#global-nav > ul > li > ul > li {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 0;
  color: #fff;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
}

#global-nav > ul > li > ul > li:hover {
  opacity: .8;
}

#global-nav > ul > li > ul > li > a > span {
  display: block;
  width: 150px;
  padding: 15px 0 15px 13px;
  background: #c34024;
  text-align: left;
  font-size: .8rem;
  color: #fff;
}

#global-nav > ul > li:hover > ul > li > a > span {
  border-top: 1px solid #fff;
}

#global-nav > ul > li > ul > li:first-child > a > span {
  border: 0;
}

#global-nav > ul > li:hover > ul > li{
  overflow: visible;
  height: 49px;
}


/*#global-nav ul li a span:hover {
  color: rgba(0, 0, 0, .7);
  background: #ea6f00;
}*/

/* Toggle Button */
#nav-toggle {
  display: none;
  position: absolute;
  right: 12px;
  top: 9px;
  width: 34px;
  height: 36px;
  cursor: pointer;
  z-index: 101;
}

#nav-toggle div {
  position: relative;
}

#nav-toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
  top: 0;
  background: #fff;
}

#nav-toggle span:nth-child(2) {
  top: 11px;
  background: #ea6f00;
}

#nav-toggle span:nth-child(3) {
  top: 22px;
  background: #fff;
}

@media screen and (max-width:1000px) {
  #global-nav > ul > li {
    padding: 0 2px;
  }
}

@media screen and (max-width:768px) {
  #top-head .inner {
    width: 100%;
    padding: 5px 0;
    background: #261e19;
    border-bottom: 2px solid #ea6f00;
  }
  #top-head {
    top: 0;
    position: fixed;
    margin-top: 0;
  }
  #top-head .logo {
    padding-left: 30px;
  }
  #mobile-head {
    width: 100%;
    z-index: 999;
    position: relative;
  }
  #global-nav {
    position: absolute;
    /* 開いてないときは画面外に配置 */
    top: -501px;
    background: #261e19;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  #global-nav ul {
    list-style: none;
    position: static;
    display: block;
    right: 0;
    bottom: 0;
    font-size: 1.7rem;
  }
  #global-nav ul li {
    float: none;
    position: static;
    padding: 10px 0;
    border-bottom: 1px dotted #fff;
  }
  #global-nav ul li:last-child {
    border-bottom: 0;
  }
  #global-nav ul li a::after {
    display: none;
  }
  #global-nav > ul > li > a > span:hover {
    opacity: .8;
  }
  #global-nav > ul > li > a > span:hover::after {
    width: 0;
  }
  #global-nav > ul > li > ul {
    display: none;
  }
  #nav-toggle {
    display: block;
  }

  /* #nav-toggle 切り替えアニメーション */
  .open #nav-toggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  .open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }
  /* #global-nav スライドアニメーション */
  .open #global-nav {
    /* #global-nav top + #mobile-head height */
    -moz-transform: translateY(556px);
    -webkit-transform: translateY(556px);
    transform: translateY(556px);
  }
}

@media screen and (max-width:480px) {
  #top-head .logo {
    padding-left: 10px;
  }
  #top-head .logo img {
    width: 150px;
  }
  #global-nav {
    top: -512px;
  }
  #nav-toggle {
    top: 4px;
  }
}

/*eyecatch*/
.eyecatch {
  margin-top: -90px;
  width: 100%;
  height: 106vh;
  top: 0;
  left: 0;
  background: url('../../library/images/top-img.png') no-repeat;
  background-size: cover;
  z-index: -1;
  position: relative;
}

.eyecatch-inner {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
}

.catch-copy {
  position: absolute;
  top: 35%;
  left: 10%;
}

.catch-copy h1 {
  font-size: 5.0rem;
  font-weight: normal;
  color: #ea6f00;
  letter-spacing: 1px;
}

.catch-copy h2 {
  font-size: 2.0rem;
  color: #fff;
  font-weight: normal;
  font-family: "Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
  position: relative;
  padding-left: 55px;
}

.catch-copy h2::before {
  position: absolute;
  top: 45%;
  left: 0;
  content: '';
  background: #fff;
  width: 50px;
  height: 2px;
}

.blinking{
	-webkit-animation:blink .3s ease-in-out infinite alternate;
    -moz-animation:blink .3s ease-in-out infinite alternate;
    animation:blink .3s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

@media screen and (max-width:768px) {
  .eyecatch {
    height: 500px;
  }
  .catch-copy {
    top: 45%;
  }
  .catch-copy h1 {
    font-size: 3.0rem;
  }
  .catch-copy h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width:480px) {
  .eyecatch {
    height: 300px;
  }
  .catch-copy {
    top: 55%;
    left: 7%;
  }
  .catch-copy h1 {
    font-size: 1.6rem;
  }
  .catch-copy h2 {
    font-size: 1.3rem;
  }
}

/*main*/
.main {
  width: 100%;
  overflow: hidden;
}

.top-service-wrapper {
  margin: 100px auto 0;
  width: 100%;
  position: relative;
}

.top-sc-cont {
  width: 45%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.top-service-cont::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border: 50px solid transparent;
  border-left: 50px solid #ea6f00;
  border-top: 50px solid #ea6f00;
}

.top-sc-cont-body {
  width: 70%;
  margin: 0 auto;
}

.top-main-sc-ttl {
  text-align: left !important;
}

.top-main-sc-sent {
  font-size: .9rem;
  color: #6a6a6a;
}

.top-main-sc-sent p {
  line-height: 2.5;
}

.top-main-sc-detail {
  margin-top: 30px;
}

.top-main-sc-detail a span {
  font-size: .9rem;
  font-weight: bold;
  color: #ea6f00;
}

.top-main-sc-detail a span:hover {
  opacity: .7;
}

.top-sc-img {
  width: 55%;
  display: table-cell;
  vertical-align: middle;
}

.top-sc-img img {
  width: 100%;
}


.top-company-wrapper {
  margin: 100px auto 0;
  width: 100%;
  position: relative;
}

.top-company-cont::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  right: 0;
  top: 0;
  border: 50px solid transparent;
  border-right: 50px solid #ea6f00;
  border-top: 50px solid #ea6f00;
}

.sp-top-sc-img {
  display: none;
}


/*works-wrapper*/
.top-works-wrapper {
  width: 100%;
}

.top-main-ttl {
  width: 100%;
  margin: 100px auto 30px;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 4px;
  color: #000;
}

.top-works-cont {
  width: 100%;
  margin: 0 auto;
}

.top-works-cont-list {
  width: 100%;
  display: table;
}

.works-cont-list li {
  float: left;
  width: 30%;
  margin: 0 1.666% 30px;
  position: relative;
  overflow: hidden;
  list-style: none;
}

.works-cont-list img {
  width: 100%;
  height: auto;
  min-height: 268px;
  transition: all .8s ease;
}

.works-cont-list-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0,0,0,.3);
  -webkit-transfrom: scale(0);
  transform: scale(0);
	-webkit-transition: .3s cubic-bezier(0.92, 0, 0.12, 0.5);
	transition: .3s cubic-bezier(0.92, 0, 0.12, 0.5);
	opacity: 0;
}

.works-cont-list li:hover .works-cont-list-overlay {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

figure {
	background: #ea6f00;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

figure img {
	/*height: 390px;*/
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
}

figure figcaption {
	padding: 3em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure figcaption::before {
	top: 30px;
	right: 20px;
	bottom: 30px;
	left: 20px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure figcaption::after {
	top: 20px;
	right: 30px;
	bottom: 20px;
	left: 30px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure figcaption p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 30px;
  margin: auto;
  color: #fff;
  opacity: 0;
}

figure h2 {
	padding-top: 26%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure img,
figure h2 {
	/*-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);*/
}

figure img,
figure figcaption::before,
figure figcaption::after {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure:hover img {
	opacity: 0.7;
	/*-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);*/
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

figure:hover figcaption::before,
figure:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure:hover figcaption p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure:hover figcaption::after,
figure:hover figcaption p,
figure:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}


/*news-wrapper*/
.news-wrapper {
  width: 100%;
}

.top-news-cont {
  width: 100%;
  margin: 0 auto;
}

.top-news-cont-list {
  margin: 0 auto;
  width: 700px;
  height: 250px;
  overflow: scroll;
  text-align: left;
}

.top-news-cont-list li {
  display: table;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #aaa;
}

.top-news-cont-list-cat {
  display: table-cell;
  vertical-align: middle;
  font-size: .75rem;
  padding: 0 5px;
  color: #fff;
  background: #ff8f21;
  text-align: center;
  position: relative;
}

/*.top-news-cont-list-cat::after {
  position: absolute;
  top: 50%;
  right: -7px;
  margin-top: -7px;
  display: block;
	width: 0px;
	height: 0px;
  content: '';
  border-style: solid;
	border-width: 7px 0 7px 7px;
	border-color: transparent transparent transparent #ff8f21;
}*/

.top-news-cont-list-date {
  display: table-cell;
  vertical-align: middle;
  font-size: .75rem;
  color: #6a6a6a;
  padding-left: 15px;
}

.top-news-cont-list-ttl {
  display: table-cell;
  vertical-align: middle;
  color: #000;
  padding-left: 20px;
}

.top-news-cont-list li a:hover .top-news-cont-list-ttl {
  color: #ff8f21;
}

/*footer*/
.footer {
  clear: both;
  margin: 80px auto 0;
  width: 100%;
  /*background: #261e19;*/
  background: #261e19;
}

.footer-inner {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 10px;
}

.footer-cont {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}

.site-map {
  width: 75%;
  float: left;
}

.site-map li {
  width: 33.333%;
  float: left;
  text-align: left;
  list-style: none;
}

.site-map li dl {
  margin: 0 auto 20px;
}

.site-map li dl dt {
  font-size: .9rem;
  font-weight: bold;
  color: #ea6f00;
  margin-bottom: 10px;
}

.footer-home-link a span {
  color: #fff;
  font-size: 1.0rem;
}

.footer-home-link a span:hover {
  color: #ea6f00;
}

.site-map li dl dd a {
  padding-left: 11px;
  position: relative;
}

.site-map li dl dd a span {
  font-size: .8rem;
  color: #fff;
}

.site-map li dl dd a span:hover {
  color: #ea6f00;
}

.site-map li dl dd a span::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 1px;
  top: 8px;
  left: 0;
  display: block;
  background-color: #fff;
}

.site-map li dl dd a span:hover::before {
  background-color: #ea6f00;
}

.company-info {
  width: 25%;
  float: left;
  text-align: left;
}

.footer-logo {
  width: 100%;
}

.footer-logo img {
  width: 60%;
}

.footer-contact-link {
  margin-top: 20px;
}

.footer-contact-link a span {
  border: 1px solid #ea6f00;
  font-size: 1.0rem;
  color: #fff;
  padding: 2px 10px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: .3s;
  -webkit-transition: .3s;
  z-index: 1;
}

.footer-contact-link a span::after {
  position: absolute;
  transition: .3s;
  -webkit-transition: .3s;
  content: '';
  width: 0;
  bottom: 0;
  background: #ea6f00;
  height: 120%;
  left: -10%;
  transform: skewX(15deg);
  z-index: -1;
}

.footer-contact-link a span:hover::after {
  left: -10%;
  width: 120%;
}

.social-link {
  margin-top: 15px;
}

.social-link dt {
  font-size: .9rem;
  font-weight: bold;
  color: #ea6f00;
  margin-bottom: 10px;
}

.social-link dd {

}

.social-link dd ul {
  width: 100%;
}

.social-link dd ul li {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.social-link dd ul li a img {
  width: 100%;
  height: 100%;
}

.social-link dd ul li a img:hover {
  opacity: .7;
}

.cp {
  clear: both;
  margin: 30px auto 0;
  text-align: center;
  font-size: .8rem;
  color: #fff;
}

@media screen and (max-width:768px) {
  .top-sc-cont {
    display: block;
    width: 100%;
  }
  .top-main-ttl {
    padding-top: 30px;
  }
  .top-sc-img {
    display:none;
  }
  .sp-top-sc-img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .sp-top-sc-img img {
    width: 100%;
  }
  .works-cont-list li {
    width: 46.666%;
  }
  .top-news-cont-list {
    width: 80%;
    margin: 0 auto;
  }
  .top-news-cont-list-cat {
    display: inline-table;
    float: left;
  }
  .top-news-cont-list-date {
    display: inline-table;
    float: left;
  }
  .top-news-cont-list-ttl {
    display: block;
    font-size: .9rem;
    text-align: left;
    padding: 10px 0 0 0;
    clear: both;
  }
  .footer {
    margin: 50px auto 0;
  }
  .footer-inner {
    padding-top: 30px;
  }
  .footer-cont {
    width: 90%;
    padding-left: 14%
  }
  .site-map {
    width: 100%;
  }
  .site-map li {

  }
  .site-map li dl {
    margin: 0;
  }
  .site-map li dl:first-child {
    display: none;
  }
  .site-map li dl dt {

  }
  .site-map li dl dd a {
    padding: 0;
  }
  .site-map li dl dd a span {
    position: relative;
  }
  .site-map li dl dd a span::before {
    display: none;
  }
  .company-info {
    display: none;
  }
  .footer-logo {
    display: none;
  }
}

@media screen and (max-width:480px) {
  .catch-copy h2 {
    padding-left: 35px;
  }
  .catch-copy h2::before {
    width: 30px;
  }
  .top-service-wrapper {
    margin: 50px auto 0;
  }
  .top-service-cont::before {
    border-width: 30px;
  }
  .top-main-ttl {
    padding: 0;
    margin: 50px auto 30px;
  }
  .top-company-wrapper {
    margin: 50px auto 0;
  }
  .top-company-cont::before {
    border-width: 30px;
  }
  .works-cont-list li {
    margin: 0 auto 20px;
    width: 80%;
    float: none;
  }
  .works-cont-list li:last-child {
    margin-bottom: 0;
  }
  .footer-cont {
    width: 100%;
    padding: 0;
  }
  .site-map li {
    width: 100%;
    float: none;
  }
  .site-map li dl dt {
    display: none;
  }
  .site-map li dl dd {
    background: #ea6f00;
    border-bottom: 1px dotted #fff;
  }
  .site-map li dl dd a {
    padding: 10px 30px;
    position: relative;
    display: block;
  }
  .site-map li dl dd a::before {
    position: absolute;
    right: 30px;
    top: 10px;
    content: "→";
    color: #fff;
  }
  .site-map li dl dd a span:hover {
    color: #fff;
  }
  .site-map li:last-child dl dd {
    border-bottom: 0;
  }
  .footer {
    margin: 30px auto 0;
  }
  .cp {
    margin: 10px auto 0;
    font-size: .7rem;
  }
}


/*company.html*/
.header-bg {
  background: #261e19;
  padding-bottom: 8px;
}

.second-layered-ttl {
  width: 100%;
  height: 250px;
  background: #261e19;
  position: relative;
}

.second-layered-ttl-lg {
  position: inherit;
  top: -20%;
  left: -2.5%;
  font-size: 3.0rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 3px;
}

.second-layered-ttl-lg-fs {
  font-size: 14.0rem;
}

.second-layered-ttl-sml {
  position: absolute;
  right: 15%;
  bottom: 12%;
  font-size: 2.8rem;
  color: #fff;
}

.to-third-layered-link {
  width: 100%;
  margin: 0 auto;
}

.company-link-list {
  width: 100%;
   display: table;
 }

.company-link-list li {
  display: table-cell;
  width: 33.333%;
  overflow: hidden;
  background-size: cover !important;
  text-align: center;
}

.company-link-list li:first-child {
  background: url('../../library/images/company-link-img1.jpg') no-repeat center center;
}

.company-link-list li:last-child {
  background: url('../../library/images/company-link-img2.jpg') no-repeat center center;
}

.company-link-list li p {
  font-size: 1.5rem;
  color: #fff;
  padding-top: 30%;
  padding-bottom: 30%;
}

.company-link-list-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
}

.company-link-list-overlay:hover {
  background: rgba(0, 0, 0, .1);
}

.contact-link {
  margin: 80px auto 0;
  text-align: center;
}

.contact-link a span {
  padding: 15px 25px;
  border: 2px solid #ea6f00;
  font-size: .9rem;
  font-weight: bold;
  color: #2b2b2b;
  display: inline-block;
  transition: .3s;
  -webkit-transition: .3s;
  box-shadow: 2px 2px 2px #666;
  position: relative;
  overflow: hidden;
}

.contact-link a span::after {
  position: absolute;
  transition: .3s;
  -webkit-transition: .3s;
  content: '';
  width: 0;
  bottom: 0;
  background: #ea6f00;
  height: 120%;
  left: -10%;
  transform: skewX(15deg);
  z-index: -1;
}

.contact-link a span:hover::after {
  left: -10%;
  width: 120%;
}

.contact-link a span:hover {
  color: #fff;
}

.contact-link a span:active {
  position: relative;
  top: 5px;
}

@media screen and (max-width:768px) {
  .header-bg {
    padding-bottom: 0;
  }
  .second-layered-ttl {
    margin-top: 56px;
  }
  .second-layered-ttl-sml {
    display: none;
  }
  .company-link-list li {
    display: block;
    width: 100%;
  }
  .company-link-list-overlay {
    background: rgba(0, 0, 0, .3);
  }
  .company-link-list li p {
    padding-top: 15%;
    padding-bottom: 15%;
  }
  .contact-link {
    margin: 50px auto 0;
  }
}

@media screen and (max-width:480px) {
  .second-layered-ttl {
    margin-top: 44px;
    height: 105px;
  }
  .second-layered-ttl-lg {
    font-size: 2.0rem;
  }
  .second-layered-ttl-lg-fs {
    font-size: 6.0rem;
  }
  .contact-link {
    margin: 30px auto 0;
  }
  .contact-link a span {
    padding: 10px 20px;
    box-shadow: none;
  }
  .contact-link a span::after {
    display: none;
  }
}


/*c-company.html*/
.c-company-wrapper {
  width: 100%;
  height: auto;
}

.vision-cont {
  width: 100%;
  margin: 100px auto 0;
  text-align: center;
}

.vision-cont-body {
  width: 60%;
  margin: 0 auto;
}

.vision-cont-img {
  margin: 50px auto 0;
  width: 100%;
}

.vision-cont-img img {
  width: 100%;
}

.vision-cont-sent {
  margin: 0 auto;
  width: 100%;
}

.vision-cont-sent-main {
  margin-top: 50px;
}

.vision-cont-sent-main p {
  font-size: 1.8rem;
  font-weight: bold;
}

.vision-cont-sent-sub {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
}

.vision-cont-sent-sub p {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 2;
}

.mission-cont {
  width: 100%;
  margin: 100px auto 0;
  text-align: center;
  overflow: hidden;
}

.mission-cont-body {
  width: 80%;
  margin: 0 auto;
}

.mission-cont-inner {
  margin: 50px auto 0;
  overflow: hidden;
}

.mission-cont-img {
  width: 50%;
  float: left;
}

.mission-cont-img img {
  width: 100%;
}

.mission-cont-sent {
  width: 50%;
  float: left;
}

.mission-cont-sent li {
  margin-left: 40px;
  font-size: 1.0rem;
  font-weight: bold;
  text-align: left;
  list-style: none;
  line-height: 1.2;
  margin-bottom: 25px;
}

.company-cont {
  width: 100%;
  margin: 80px auto 50px;
  text-align: center;
}

.third-layered-ttl {
  width: 100%;
  font-size: 2.0rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.company-cont-prof {
  margin: 30px auto 0;
}

.tablepress tr {
  margin: 0 auto;
  width: 60%;
  text-align: left;
  display: table;
}

.tablepress tr td.column-1 {
  display: table-cell;
  width: 15%;
  vertical-align: middle;
  border-top: 1px solid #ff8f21;
  padding: 15px 10px;
  font-weight: bold;
}

.tablepress tr td.column-2 {
  display: table-cell;
  vertical-align: middle;
  width: 85%;
  border-top: 1px solid #c7c7c7;
  padding: 15px 10px
}

.tablepress tr:last-child td.column-1 {
  border-bottom: 1px solid #ff8f21;
}

.tablepress tr:last-child td.column-2 {
  border-bottom: 1px solid #c7c7c7;
}

.company-accessmap {
  width: 60%;
  height: 300px;
  margin: 80px auto 0;
  position: relative;
}

.company-accessmap iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width:1000px) {
  .mission-cont-img {
    width: 100%;
    display: block;
    float: none;
  }
  .mission-cont-sent {
    width: 100%;
    display: block;
    float: none;
    margin-top: 30px;
  }
  .mission-cont-sent li {
    margin-left: 0;
  }
}

@media screen and (max-width:768px) {
  .vision-cont-body {
    width: 90%;
  }
  .vision-cont-sent-sub {
    width: 100%;
  }
  .mission-cont-body {
    width: 90%;
  }
  .tablepress tr {
    width: 90%;
  }
  .tablepress tr td.column-1 {
    width: 20%;
  }
  .tablepress tr td.column-2 {
    width: 80%;
  }
  .company-accessmap {
    width: 90%;
  }
}

@media screen and (max-width:480px) {
  .third-layered-ttl {
    font-size: 1.5rem;
  }
  .vision-cont {
    margin: 80px auto 0;
  }
  .vision-cont-img {
    margin: 30px auto 0;
  }
  .vision-cont-sent-main {
    margin-top: 30px;
  }
  .vision-cont-sent-main p {
    font-size: 1.2rem;
  }
  .vision-cont-sent-sub p {
    font-size: .9rem;
    text-align: left;
  }
  .mission-cont {
    margin: 30px auto 0;
  }
  .mission-cont-sent li {
    font-size: .9rem;
    margin-bottom: 20px;
  }
  .mission-cont-inner {
    margin: 30px auto 0;
  }
  .company-cont {
    margin: 30px auto;
  }
  .tablepress tr td.column-1 {
    font-size: .9rem;
    width: 30%;
  }
  .tablepress tr td.column-2 {
    font-size: .9rem;
    width: 70%;
  }
  .company-accessmap {
    margin: 30px auto 0;
    height: 200px;
  }
}


/*c-member.html*/
.c-member-wrap {
  width: 100%;
  height: auto;
}

.c-member-cont {
  width: 100%;
  margin: 80px auto 50px;
  text-align: center;
}

.c-member-cont-main {
  width: 90%;
  margin: 50px auto 0;
}

.c-member-cont-main-list {
  width: 100%;
  display: table;
}

.c-member-cont-main-list li {
  display: inline-table;
  width: 33.333%;
  float: left;
  margin-bottom: 30px;
}

.c-member-cont-main-list-img {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.c-member-cont-main-list-img img {
  width: 100%;
  cursor: pointer;
}

.c-member-cont-main-list-img img:hover {

}

.c-member-cont-main-list-img::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  transition: .5s;
  -webkit-transition: .5s;
  opacity: 0;
}

.c-member-cont-main-list li:first-child .c-member-cont-main-list-img::after {
  background: url('../../library/images/member1-mouseover.png');
  background-size: cover;

}

.c-member-cont-main-list li:nth-child(2) .c-member-cont-main-list-img::after {
  background: url('../../library/images/member2-mouseover.png');
  background-size: cover;
}

.c-member-cont-main-list li:nth-child(3) .c-member-cont-main-list-img::after {
  background: url('../../library/images/member3-mouseover.png');
  background-size: cover;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.c-member-cont-main-list li:nth-child(4) .c-member-cont-main-list-img::after {
  background: url('../../library/images/member4-mouseover.png');
  background-size: cover;
}

.c-member-cont-main-list-img:hover::after {
  opacity: 1;
}

.c-member-cont-main-list li:nth-child(3) img {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.c-member-cont-main-list-sent {
  width: 100%;
  margin: 10px auto 0;
  display: block;
}

.c-member-cont-main-list-sent .class {
  font-size: 1.0rem;
  color: #3a3a3a;
  display: block;
}

.c-member-cont-main-list-sent .name-jp {
  font-size: 1.3rem;
  font-weight: bold;
  display: block;
}

.c-member-cont-main-list-sent .name-en {
  font-size: .8rem;
  color: #7d7d7d;
  display: block;
}

/*member-modal*/
.member-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 1000;
  display: none;
}

.member-modal-inner {
  margin: 100px auto 0;
  width: 70%;
  height: 600px;
  position: relative;
}

.member-modal-image {
  width: 50%;
  height: 100%;
  float: left;
  background-size: cover !important;
  overflow: hidden;
}

.c-member-cont-main-list-img-hover {
  transition: .3s;
  -webkit-transition: .3s;
}

#member-modal1 .member-modal-image {
  background: url('../../library/images/member1-modal-ex.png') 50% 50%;
}

#member-modal2 .member-modal-image {
  background: url('../../library/images/member2-modal-ex.png') 50% 50%;
}

#member-modal3 .member-modal-image {
  background: url('../../library/images/member3-modal-ex.png') 50% 50%;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#member-modal4 .member-modal-image {
  background: url('../../library/images/member4-modal.jpg') 50% 50%;
}

.member-modal-cont {
  /*position: absolute;
  top: 0;
  right: 0;*/
  background-color: #fff;
  padding: 20px 0 40px;
  width: 50%;
  height: 100%;
  text-align: center;
  overflow: auto;
}

.member-close-modal p {
  position: absolute;
  top: -20px;
  right: 15px;
  font-size: 4.3rem;
  font-weight: bold;
  color: #6a6a6a;
  cursor: pointer;
}

.member-close-modal p:hover {
  color: #cc0000;
}

.member-modal-cont-main {
  width: 70%;
  margin: 50px auto 0;
  text-align: left;
}

.modal-class {
  display: block;
  font-size: 1.3rem;
  color: #5c5c5c;
}

.modal-name-jp {
  display: block;
  padding-top: 20px;
  font-size: 2.0rem;
  font-weight: bold;
  color: #3a3a3a;
}

.modal-name-en {
  display: block;
  padding-top: 10px;
  font-size: 1.2rem;
  color: #6a6a6a;
}

.member-modal-cont-main p {
  padding-top: 30px;
  font-size: 1.0rem;
  color: #6a6a6a;
  line-height: 1.9;
}

@media screen and (max-width:1000px) {
  .member-modal-inner {
    width: 90%;
  }
}

@media screen and (max-width:768px) {
  .c-member-cont-main-list li {
    width: 50%;
  }
  .member-modal-inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .member-close-modal p {
    color: #cc0000;
  }
  .member-modal-image {
    display: block;
    float: none;
    width: 100%;
    height: 50%;
  }
  .member-modal-cont {
    display: block;
    width: 100%;
    height: 50%;
  }
  .member-modal-cont-main {
    width: 90%;
    margin: 20px auto 0;
  }
}

@media screen and (max-width:480px) {
  .c-member-cont {
    margin-bottom: 0;
  }
  .c-member-cont-main-list li {
    width: 100%;
  }
  .c-member-cont-main-list li:last-child {
    margin-bottom: 0;
  }
  .member-modal-cont {
    padding: 20px 0;
  }
  .member-modal-cont-main {
    margin: 0 auto;
  }
  .modal-class {
    font-size: 1.1rem;
  }
  .modal-name-jp {
    padding-top: 5px;
    font-size: 1.5rem;
  }
  .modal-name-en {
    padding-top: 5px;
    font-size: 1.0rem;
  }
  .member-modal-cont-main p {
    padding-top: 15px;
    font-size: .9rem;
  }
}


/*serivce.html*/
.service-link-list {
  width: 100%;
  display: table;
 }

.service-link-list li {
  display: table-cell;
  width: 50%;
  overflow: hidden;
  background-size: cover !important;
  text-align: center;
}

.service-link-list li:first-child {
  background: url('../../library/images/service-link-img1.jpeg') no-repeat center center;
}

.service-link-list li:last-child {
  background: url('../../library/images/service-link-img2.jpg') no-repeat center center;
}

.service-link-list li p {
  font-size: 1.5rem;
  color: #fff;
  padding-top: 30%;
  padding-bottom: 30%;
}

.service-link-list-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
}

.service-link-list-overlay:hover {
  background: rgba(0, 0, 0, .1);
}

@media screen and (max-width:768px) {
  .service-link-list li {
    display: block;
    width: 100%;
  }
  .service-link-list-overlay {
    background: rgba(0, 0, 0, .3);
  }
  .service-link-list li p {
    padding-top: 15%;
    padding-bottom: 15%;
  }
}


/*s-web.html*/
.s-web-wrapper {
  width: 100%;
  height: auto;
}

.s-web-cont {
  width: 100%;
  margin: 80px auto 50px;
  text-align: center;
}

.s-cont-concept {
  width: 100%;
  margin: 30px auto 0;
}

.s-cont-concept-ttl {
  font-size: 1.5rem;
  font-weight: bold;
}

.s-cont-concept-sent {
  margin-top: 20px;
}

.s-cont-concept-sent p {
  font-size: .9rem;
  line-height: 2.0;
}

.s-web-cont-main {
  width: 100%;
  margin: 100px auto 0;
}

.s-web-cont-concept-ttl {
  font-size: 1.5rem;
  font-weight: bold;
}

.s-web-cont-main-list {
  margin: 30px auto 0;
}

.price-list {
  margin: 50px auto 0;
  width: 600px;
  text-align: left;
}

.price-list-wrap {
  margin-bottom: 50px;
}

.price-list-ttl {
  width: 100%;
  font-size: 2.0rem !important;
  font-weight: bold;
  border-bottom: 2px solid #ff8f21 !important;
  padding: 0 0 5px 5px !important;
}

.price-list dl {
  width: 100%;
  display: table;
  color: #282828;
  margin: 10px auto 20px;
}

.price-list dl dt {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 5px 0;
  border-bottom: 1px dashed #aaa;
  padding-left: 5px;
}

.price-list dl dd {
  display: table-cell;
  vertical-align: middle;
  width: 60%;
  font-size: 1.1rem;
  padding: 5px 0;
  border-bottom: 1px dashed #aaa;
}

.works-link {
  margin: 40px auto 0;
}

@media screen and (max-width:768px) {
  .price-list {
    width: 90%;
  }
}

@media screen and (max-width:480px) {
  .s-cont-concept-ttl {
    font-size: 1.3rem;
  }
  .s-cont-concept-sent {
    width: 90%;
    margin: 20px auto 0;
    text-align: left;
  }
  .s-cont-concept-sent p br {
    display: none;
  }
  .s-web-cont-concept-ttl {
    font-size: 1.3rem;
  }
  .s-web-cont-main {
    margin: 50px auto 0;
  }
  .s-web-cont-main-list {
    margin: 0 auto;
  }
  .price-list {
    margin-top: 30px;
  }
  .price-list-wrap {
    margin-bottom: 30px;
  }
  .price-list dl dt {
    font-size: 1.0rem;
    width: 50%;
  }
  .price-list dl dd {
    font-size: 1.0rem;
    width: 50%;
  }
  .price-list-ttl {
    font-size: 1.5rem !important;
  }
}


/*s-service.html*/
.s-service-wrapper {
  width: 100%;
  height: auto;
}

.s-service-cont {
  width: 100%;
  margin: 80px auto 50px;
  text-align: center;
}

.comingsoon {
  margin: 80px auto 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.comingsoon span {
  font-size: 2.0rem;
  text-decoration: underline;
  color: #e80404;
}

.s-service-cont-main {
  width: 100%;
  margin: 100px auto 0;
}

.s-service-cont-main-inner {
  width: 100%;
  margin: 50px auto 0;
}

.s-service-cont-main-ttl {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3a3a3a;
}

.s-service-cont-main-ttl span {
  font-size: 2.5rem;
  color: #000;
}

.s-service-cont-main-img {
  width: 500px;
  height: 300px;
  margin: 20px auto 0;
}

.s-service-cont-main-img img {
  height: 100%;
  width: 100%;
}

.s-service-cont-main-sent {
  margin: 20px auto 0;
}

.s-service-cont-main-sent p {
  font-size: 1.0rem;
}

.s-service-link {
  margin: 30px auto 0;
}

.s-service-link span {
  color: #000;
  padding: 10px 20px;
  border: 2px solid #ff8f21;
}



/*works.html*/
.works-cont {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.works-cont-list {
  width: 100%;
  margin: 50px auto 0;
}

.works-cont-list li {
  width: 30%;
  margin: 0 1.666% 50px;
  float: left;
  /*border: 1px solid #aaa;*/
  list-style: none;
  position: relative;
  overflow: hidden;
}

.works-cont-list li:nth-child(3n+1) {
  clear: both;
}

.works-cont-list-pc {
  position: relative;
}

.works-cont-list-pc-exp {
  margin: 20px auto 0;
}

.works-cont-list-pc-ttl {
  font-size: 1.1rem;
  font-weight: bold;
}

.works-cont-list-pc-sent {
  margin-top: 10px;
  font-size: .9rem;
  color: #6a6a6a;
}

.works-cont-list-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0,0,0,.6);
  -webkit-transfrom: scale(0);
  transform: scale(0);
	-webkit-transition: .3s cubic-bezier(0.92, 0, 0.12, 0.5);
	transition: .3s cubic-bezier(0.92, 0, 0.12, 0.5);
	opacity: 0;
  cursor: pointer;
}

.works-cont-list li:hover .works-cont-list-overlay {
  -webkit-transfrom: scale(1);
  transform: scale(1);
  opacity: 1;
}

.works-cont-list-overlay p {
  padding: 15% 20px 0;
  color: #fff;
  text-align: center;
}

.works-detail {
  margin: 25% auto 0;
  text-align: center;
}

.works-detail span {
  padding: 10px 0 10px 0 ;
  color: #fff;
  -webkit-transition: .3s all linear .3s;
  transition: .3s all linear .3s;
}

.works-cont-list li:hover .works-detail span {
  padding: 10px 20px;
  background: #FAAB5B;
}

.works-cont-list-pc-img {
  width: 100%;
  position: relative;
}

.works-cont-list-pc-img {
  width: 100%;
}

.works-cont-list li img {
  width: 100%;
}

.works-cont-list-sp {
  display: none;
}

/*works-modal*/
.works-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 1000;
  display: none;
}

.works-modal-inner {
  margin: 100px auto 0;
  width: 40%;
  height: 600px;
  position: relative;
  overflow: auto;
}

.works-modal-image {
  margin: 0 auto;
  width: 100%;
}

.works-modal-image img {
  width: 100%;
  height: 100%;
}

.works-close-modal p {
  position: fixed;
  top: 0;
  right: 15px;
  font-size: 4.3rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.works-close-modal p:hover {
  color: #cc0000;
}

@media screen and (max-width:1000px) {
  .works-cont-list-overlay p {
    padding-top: 5%;
    font-size: .9rem;
  }
  .works-detail {
    margin-top: 10px;
  }
  .works-detail span {
    font-size: .8rem;
  }
}

@media screen and (max-width:768px) {
  .works-cont-list li {
    width: 46.6666%;
    margin-bottom: 30px;
  }
  .works-cont-list li:nth-child(3n+1) {
    clear: inherit;
  }
  .works-cont-list li:nth-child(2n+1) {
    clear: both;
  }
  .works-cont-list-overlay p {
    padding-top: 10%;
  }
}

@media screen and (max-width:480px) {
  .works-cont-list li {
    width: 100%;
    float: none;
    text-align: center;
  }
  .works-cont-list-pc {
    display: none;
  }
  .works-cont-list-sp {
    width: 90%;
    margin: 10px auto 0;
    text-align: center;
    display: block;
  }
  .works-cont-list-sp-img {
    width: 100%;
    margin-bottom: 10px;
  }
  .works-cont-list-sp-img img {
    width: 100%;
  }
  .works-cont-list-sp-exp {
    text-align: left;
  }
  .works-cont-list-sp-ttl {
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .works-cont-list-sp-sent {
    font-size: .8rem;
    color: #3a3a3a;
  }
  .works-detail-sp {
    margin: 10px auto;
  }
  .works-detail-sp span {
    font-size: .9rem;
    color: #fff;
    padding: 10px 20px;
    background: #FAAB5B;
  }
  .works-modal-inner {
    width: 80%;
    height: 300px;
  }
}



/*blog.html*/
.blog-cont {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.blog-cont-nav {
  width: 100%;
  margin: 30px auto 0;
}

.blog-cont-nav ul {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.blog-cont-nav ul li {
  display: inline-table;
  width: 15%;
  font-weight: bold;
}

.blog-cont-nav ul li a {
  position: relative;
  color: #000;
}

.blog-cont-nav ul li a::before {
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  content: '';
  border: 2px solid #ff8f21;
  opacity: 0;
  transition: .2s all linear;
  -webkit-transition: .2s all linear;
}

.blog-cont-nav ul li a:hover::before {
  width: 50%;
  opacity: 1;
}

.blog-cont-nav ul li a::after {
  position: absolute;
  right: 50%;
  bottom: -5px;
  width: 0;
  content: '';
  border: 2px solid #ff8f21;
  opacity: 0;
  transition: .2s all linear;
  -webkit-transition: .2s all linear;
}

.blog-cont-nav ul li a:hover::after {
  width: 50%;
  opacity: 1;
}

.blog-cont-nav ul li:first-child a {
  color: #ff8500;
}

.blog-cont-main {
  width: 100%;
  margin: 30px auto 0;
}

.blog-cont-list {
  width: 100%;
}

.blog-cont-list li {
  width: 33.333%;
  float: left;
  /*border: 1px solid #aaa;*/
  list-style: none;
  background: #fff;
  position: relative;
}

.blog-cont-list-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: .1s all ease-in;
  -webkit-transition: .1s all ease-in;
}

.blog-cont-list-overlay:hover {
  background: linear-gradient(bottom, rgba(0,0,0,.5) 0%, transparent 100%);
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,.5) 0%, transparent 100%);
	background: -moz-linear-gradient(bottom, #000 0%, #fff 100%);
	background: -o-linear-gradient(bottom, #000 0%, #fff 100%);
	background: -ms-linear-gradient(bottom, #000 0%, #fff 100%);
}

.blog-cont-list-inner {
  width: 80%;
  margin: 0 auto ;
  padding: 20px 0;
}

.blog-cont-list-img {
  width: 100%;
  max-height: 247px;
  overflow: hidden;
}

.blog-cont-list-img img {
  width: 100%;
  height: 100%;
  transition: .3s all linear;
  -webkit-transition: .3s all linear;
}

.blog-cont-list li:hover .blog-cont-list-img img {
  transform: scale(1.1);
}

.blog-cont-list-inner-top {
  margin: 20px auto 0;
}

.blog-cont-list-cat {
  display: table-cell;
  vertical-align: middle;
  font-size: .8rem;
  color: #fff;
  background: #ff8f21;
  padding: 2px 10px;
}

.blog-cont-list-date {
  display: table-cell;
  vertical-align: middle;
  color: #6a6a6a;
  padding-left: 15px;
}

.blog-cont-list li:nth-child(-n+2) .blog-cont-list-date::after {
  vertical-align: baseline;
  position: relative;
  content: 'New!';
  color: red;
  font-size: .9rem;
  font-weight: bold;
  padding-left: 15px;
  z-index: 0;
  display: none;
}

.blog-cont-list-inner-bottom {
  margin: 10px auto 0;
}

.blog-cont-list-ttl {
  font-size: 1.1rem;
  font-weight: bold;
  color: #000;
  transition: .2s color linear;
  -webkit-transition: .2s color linear;
}

.blog-cont-list li:hover .blog-cont-list-ttl {
  color: #ff8f21;
}

.pagination {
  clear: both;
  width: 100%;
  margin: 30px auto 0;
}

@media screen and (max-width:768px) {
  .blog-cont-nav ul li {
    width: 25%;
  }
  .blog-cont-nav ul li span {
    font-size: .9rem;
  }
  .blog-cont-list li {
    width: 50%;
  }
}

@media screen and (max-width:480px) {
  .blog-cont-nav ul {
    text-align: left;
    width: 90%;
  }
  .blog-cont-nav ul li {
    display: inline-block;
    width: auto;
    background: #ea6f00;
    border-bottom: 1px solid #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
  }
  .blog-cont-nav ul li:hover {
    background: #261e19;
  }
  .blog-cont-nav ul li span {
    color: #fff;
    transition: .3s;
    -webkit-transition: .3s;
  }
  .blog-cont-nav ul li:hover span {
    color: #ea6f00;
  }
  .blog-cont-nav ul li a:hover::before, .blog-cont-nav ul li a:hover::after {
    width: 0;
  }
  .blog-cont-nav ul li:first-child a {
    color: #fff;
  }
  .blog-cont-list li {
    width: 100%;
  }
  .blog-cont-list-ttl {
    font-size: 1.0rem;
  }
}


/*contact.html*/
.contact-wrapper {
  width: 100%;
  margin: 80px auto 50px;
  text-align: center;
}

.contact-cont {
  margin: 80px auto 0;
  width: 100%;
}

.contact-cont-form {
  width: 830px;
  margin : 0 auto;
}

.contact-cont-form form {
  width: 100%;
}

.contact-cont-form form dl {
  width: 100%;
  margin-bottom: 20px;
  display: table;
  text-align: left;
}

.contact-cont-form form dl dt {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px 0 10px 10px;
}

.contact-cont-form form dl dt span {
  padding-bottom: 10px;
  border-bottom: 2px dotted #ff8f21;
}

.textarea-row dt {
  margin-top: 5px;
  vertical-align: top !important;
}

.contact-cont-form form dl dd {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  padding: 10px 0 10px 10px;
}

.contact-cont-form form dl dd input[type=text], .contact-cont-form form dl dd input[type=tel], .contact-cont-form form dl dd input[type=email], .contact-cont-form form dl dd textarea {
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 5px 10px;
}

.textarea-row dd textarea {
  height: 300px;
}

.submit-btn {
  width: 200px;
  margin: 20px auto 0;
}

.submit-btn input {
  width: 100%;
  background: #ff8f21;
  padding: 10px 0;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn input:hover {
  opacity: .7;
}

.submit-btn input:active {
  position: relative;
  top: 5px;
}

@media screen and (max-width:1000px) {
  .contact-cont-form {
    width: 90%;
  }
}

@media screen and (max-width:768px) {
  .contact-cont {
    margin: 30px auto 0;
  }
  .contact-cont-form form dl dt {
    display: block;
    width: 100%;
  }
  .contact-cont-form form dl dd {
    display: block;
    width: 100%;
  }
  .wpcf7-list-item {
    display: block;
    width: 100%;
  }
  .wpcf7-list-item input[type="radio"] {
    background: #999;
    border: 1px solid #aaa;
    border-radius: 50%;
  }
}


/*thanks.html*/
.thanks-wrap {
  margin: 80px auto 0;
}

.thanks-cont {
  width: 90%;
  margin: 0 auto;
}

.thanks-main {
  text-align: center;
  font-size: 2.0rem;
  font-weight: bold;
}

.thanks-sub {
  margin-top: 20px;
  text-align: center;
}

.thanks-sub p {
  font-size: 1.1rem;
  color: #666;
}

.thanks-company-info {
  width: 600px;
  margin: 50px auto 0;
  padding: 20px;
  border: 2px solid #ea6f00;
  position: relative;
}

.thanks-company-info::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border: 20px solid transparent;
  border-left: 20px solid #ea6f00;
  border-top: 20px solid #ea6f00;
}

.thanks-company-info::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  right: 0;
  bottom: 0;
  border: 20px solid transparent;
  border-right: 20px solid #ea6f00;
  border-bottom: 20px solid #ea6f00;
}

.thanks-company-info li {
  list-style: none;
  border-bottom: 1px dotted #aaa;
  line-height: 2;
}

.back-to-home {
  margin: 30px auto 0;
  text-align: center;
}

.back-to-home a {
  color: #ff8f21;
  font-weight: bold;
  font-size: 1.1rem;
}

.back-to-home a:hover {
  opacity: .7;
}

/*ページローディング*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #df6604;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 5px;
}

.particles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.home .header-bg {
  background: none;
  padding: 0;
}
